* {
    margin: 0;
    padding: 0;
}

.verh {
    /* display: flex; */
    background-color: aqua;
    background: url("../images/background1.png") no-repeat;
    background-size: cover;
    /* width: 1920px;
    height: 725px; */
    /* justify-content: center; */
}

.main-block-section {
    display: flex;
    padding-top: 286px;
    padding-bottom: 206px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main-title {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 79px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.main-subtitle {
    color: #FFF;
    font-family: Montserrat;
    font-size: 27px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.main-button {
    color: #1E2E3D;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 20px;
    background: #FFF;
    padding: 26px 22px;
    margin-top: 32px;
}

.section-title-text {
    color: #000;
    font-family: Montserrat;
    font-size: 37px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}

.person-info-text {
    color: #000;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
}

.about-me-block {
    padding-top: 72px;
    padding-bottom: 181px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.person-info-block {
    max-width: 1380px;
    display: flex;
    /* justify-content: center; */
    justify-content: space-around;
    gap: 97px;
    margin: 90px 20px;
}

/* .image-of-hero {
    width: 310 px;
    height: auto;
} */



.footer {
    background: #1E2E3D;
    padding-top: 113px;
    padding-bottom: 123px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-title {
    color: #FFF;
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 25.4px;
}

.footer-text {
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 15px;
    padding-bottom: 27px;
}

.footer-text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 90px 20px; */
    text-align: center;
}

@media screen and (max-width: 900px) {
    .person-info-block {
        flex-direction: column;
        gap: 30px;
        margin-top: 50px;
        margin-bottom: 50px;
        align-items: center;
    }

    .main-title {
        font-size: 50px;
    }

    .about-me-block {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

@media screen and (max-width: 670px) {
    .footer-text {
        font-size: 17px;
    }
}

@media screen and (max-width: 500px) {
    .main-title {
        font-size: 30px;
    }

    .main-subtitle {
        font-size: 20px;
    }

    .section-title-text {
        font-size: 30px;
    }

    .person-info-text {
        font-size: 15px;
    }

    .footer-text-block {
        font-size: 15px;
    }
}